article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0; }

/**
 * May this be a helping hand in the land of media queries.
 * Nothing is a waste of time if you use the experience wisely.
 */
/**
 * Retina
 */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #fff; }

.post {
  background-color: #222; }
  .post .header {
    border-bottom: 1px solid #3c3c3c; }
    .post .header span {
      color: #666666; }
    .post .header a:link, .post .header a:visited {
      color: #999999; }
    .post .header a:hover, .post .header a:active {
      color: #cccccc; }

.header {
  border-bottom: 1px solid #e6e6e6; }
  .header h1 {
    padding: 15px 20px;
    font-family: "Fira Mono";
    font-weight: 400;
    font-size: 15px; }
    @media only screen and (max-width: 500px) {
      .header h1 {
        font-size: 11px; } }
  .header span {
    color: #999999; }
  .header a {
    text-decoration: none; }
  .header a:link, .header a:visited {
    color: #666666; }
  .header a:hover, .header a:active {
    color: #333333; }

#app {
  position: absolute;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0; }

.content {
  position: relative;
  margin: 0;
  padding: 20px;
  font-size: 1.4rem;
  font-family: "Fira Mono";
  line-height: 1.8em; }

.save {
  display: none;
  position: absolute;
  left: 20px;
  font-family: "Fira Mono";
  font-size: 14px;
  color: #666666; }
  .save.docked {
    position: fixed;
    padding: 15px 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #e6e6e6; }

.code {
  background-color: #222; }
  .code pre {
    margin: 0;
    font-family: "Fira Mono"; }

.text-editor {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border: none;
  resize: none;
  font-family: "Fira Mono";
  font-size: 14px;
  line-height: 1.8em;
  background-color: #fff; }
  .text-editor:focus {
    outline: none; }

.btn {
  padding: 15px 15px;
  appearance: none;
  border: none;
  font-family: "Fira Mono";
  font-size: 16px; }

.btn-save {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #222;
  color: #fff; }
  .btn-save[disabled] {
    background-color: #f0f0f0;
    color: #aaa; }
  @media only screen and (max-width: 500px) {
    .btn-save {
      display: block; } }

.dump {
  display: none;
  overflow: visible;
  font-family: "Fira Mono";
  font-size: 14px;
  line-height: 1.8em; }

ol {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

li span {
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all; }

::-moz-selection {
  background-color: rgba(254, 255, 225, 0.99);
  color: #222; }

::selection {
  background-color: rgba(254, 255, 225, 0.99);
  color: #222; }

.str {
  color: #EC7600; }

.kwd {
  color: #93C763; }

.com {
  color: #66747B; }

.typ {
  color: #678CB1; }

.lit {
  color: #FACD22; }

.pun {
  color: #F1F2F3; }

.pln {
  color: #F1F2F3; }

.tag {
  color: #8AC763; }

.atn {
  color: #E0E2E4; }

.atv {
  color: #EC7600; }

.dec {
  color: purple; }

pre.prettyprint {
  border: 0px solid #888; }

ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

.prettyprint {
  background: #222; }

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  color: #555;
  list-style-type: decimal; }
