// Font familys
$mono: "Fira Mono";

// Font weights.
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Colors
$white: #fff;
$lightGrey: #f0f0f0;
$grey: #aaa;
$black: #222;
$lightBlue: #dfeff4;

// Color uses
$editorBg: $white;